body {
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
}

.caixa-faq {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    background-color: #FCFCFC;
    width: 655px;
    height: 347px;
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    position: relative;
}

.caixa-faq .imagem-principal {
    position: absolute;
    top: 33px;
    left: -90px;
}

.caixa-faq h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 31px;
}

.acordeon {
    margin: 33px 40px 0px 40px;
    width: 60%;
}

.acordeon .acordeon-item {
    cursor: pointer;
    border-bottom: 1px solid black;
    border-image: linear-gradient(to right, transparent, #D5D5D5, transparent) 1;
    margin-bottom: 15px;
}

.acordeon-item .acordeon-pergunta {
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    transition: 0.2s ease;
}

.acordeon .acordeon-item .acordeon-pergunta::after {
    content: url(./images/seta\ fechada.png);
}

.acordeon-item .acordeon-resposta {
    display: none;
    font-weight: 300;
    font-size: 1.0rem;
    line-height: 17.58px;
    padding-bottom: 5px;
}

.acordeon .acordeon-item.ativo .acordeon-pergunta::after {
    content: url(./images/seta\ aberta.png);
}

.acordeon .acordeon-item.ativo .acordeon-resposta {
    display: block;
}

@media (max-width: 845px) {
    .caixa-faq .imagem-principal {
        position: static;
        height: 50%;
    }
}

@media (max-width:683px) {
    .caixa-faq {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .acordeon {
        width: 85%;
    }

    .acordeon h1 {
        text-align: center;
    }

}