.slide {
    display: none;
    transition: 0.8s ease-in-out;
}

.slide-ativo {
    display: flex;
    align-items: center;
    height: 1080px;
}
main{
    position: relative;
}
.slide img{
    width: 100%;
    height: 100%;
}

.setas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.seta-direita {
    width: 56px;
    height: 78px;
    cursor: pointer;
    margin-right: 20px;
}

.seta-esquerda {
    width: 56px;
    height: 78px;
    transform: rotate(180deg);
    cursor: pointer;
    margin-left: 20px;
}

.card {
    margin-left: 180px;
    background-color: white;
    width: 620px;
    border-radius: 10px;
}

.card .descricao {
    padding: 84px 59px 83px 60px;
}

.card .descricao h2 {
    font-size: 5rem;
    line-height: 58.59px;
    font-weight: 400;
    margin-bottom: 60px;
}

.card .descricao p {
    line-height: 35px;
    font-size: 2.0rem;
    font-weight: 300;
}

.card .descricao .saiba-mais {
    display: inline-block;
    margin-top: 40px;
    font-weight: 700;
    font-size: 2.5rem;
}

.imagem-primeiro-slide {
    position: absolute;
    z-index: -1;
}

 .descricao .saiba-mais {
    color: #C50000
}

.imagem-segundo-slide {
    position: absolute;
    z-index: -1;
}

.segundo .saiba-mais {
    color: #D9DD10;
}

.imagem-terceiro-slide {
    position: absolute;
    z-index: -1;
}

.terceiro .saiba-mais {
    color: #A63A17;
}

.imagem-quarto-slide {
    position: absolute;
    z-index: -1;
}

.quarto .saiba-mais {
    color: #10ACDD;
}

.opacidade {
    opacity: 20%;
}


@media (max-width: 986px) {
    .slide-ativo {
        justify-content: center;
        height: 100vh;
    }

    .card {
        margin-left: 0px;
        width: 50%;
        height: 60%
    }

    .card .descricao h2 {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    .card .descricao p {
        line-height: 20px;
        font-size: 1.5rem;
    }

    .card .descricao {
        padding: 20px;
    }

    .card .descricao .saiba-mais {
        font-size: 2.0rem;
    }
}


@media (max-width: 710px) {
    .seta-direita {
        width: 30px;
        height: 48px;
    }

    .seta-esquerda {
        width: 30px;
        height: 48px;
    }

    .card {
        width: 60%;
        height: 50%
    }

    .card .descricao h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .card .descricao p {
        font-size: 1rem;
    }

    .card .descricao .saiba-mais {
        font-size: 1.5rem;
        margin-top: 20px;
    }
}

@media (max-width: 485px) {
    .card {
        margin-left: 0px;
        width: 70%;
        height: 40%;
    }

    .card .descricao {
        padding: 20px;
    }

    .card .descricao h2 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .card .descricao p {
        font-size: 0.8rem;
    }

    .card .descricao .saiba-mais {
        font-size: 1rem;
        margin-top: 10px;
    }

    .seta-direita {
        width: 20px;
        height: 38px;
    }

    .seta-esquerda {
        width: 20px;
        height: 38px;
    }
}